<table class="info-table">
    <% const labels = {name: 'Name:', stock_amount: 'Stock Amount: ', size: 'Size: ', color: 'Color: ', category: 'Category: ', id: 'Id: '} %>
    <!-- Not order proofed - order could change -->
    <% for (const [key, value] of Object.entries(info)) {%>
        <% if (!labels[key] || !value) continue %>
        <tr>
            <th><%= labels[key] %></th>
            <th><%= value %></th>
        </tr>
    <% } %>
</table>