<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <div class="info">
        <h2>Product info:</h2>
        <%- include("/partials/infoTable", {info: product}) %>
    </div>
    <div class="buttons-div">
        <a href="/<%= product.id %>/update">Update</a>
        <form action="/<% product.id %>/delete" method="POST">
            <button type="submit" onclick="confirm('Are you sure you want to delete this product?')">Delete</button>
        </form>
    </div>
</body>
</html>